<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <ul>
            <li>stcode采用免费开源方案Spring Boot、mybatis-plus、Shiro搭建的一套轻量级权限系统，入门门槛低，拿来即可二次开发。</li>
            <li>技术选型采用了 核心框架 Spring Boot 2.3.0、安全框架 Apache Shiro 1.4、视图框架 Spring MVC 5.2.6、持久层框架 MyBatis 3.5.4 + MybatisPlus 3.3.2、
                分布式集群调度 Quartz 2.3、数据库连接池 Druid 1.1.22、分布式缓存 Redis 4.0.9、日志管理 SLF4J 1.7、Log4j、单元测试 JUnit 4.12、
                API接口文档 Swagger 2.7.0 、页面交互 Vue 2.x + layui + Bootstrap + HTML5 + CSS3
            </li>
            <li>代码生成器，只需编写30%左右代码，其余的代码交给系统自动生成，可快速完成开发任务。</li>
        </ul>
    </div>
</div>
</body>
</html>